input[type=submit], input[type=file]::file-selector-button {
    background-color: Maroon;
    color: Gold;
    border-radius: 8px;
    border-width: 4px;
    border-color: Gold;
    border-style: outset;
    padding: 4px 4px;
}

body {
    background-color: DarkGreen;
}

p {
    color: PaleGreen;
    margin: 0px;
}
div.selfield {
    border-width: 8px;
    border-style: solid;
    border-color: Gold;
    border-radius: 16px;
    width: 300px;
    padding: 16px;
}
div.separator {
    width: 300px;
    height: 16px;
    border-width: 0px 8px;
    border-style: hidden;
    padding: 0px 16px;
    background-image: linear-gradient(to right,
                            transparent 0%,
                            transparent calc(50% - 5px),
                            Gold  calc(50% - 4px),
                            Gold calc(50% + 4px),
                            transparent calc(50% + 5px),
                            transparent 100%);
} 
