input[type=submit], input[type=file]::file-selector-button {
    background-color: DarkRed;
    box-shadow: 1px 1px 8px Black inset, -1px -1px 8px Black inset;
    color: Gold;
    text-shadow: 0px 0px 1px Black; 
    border-radius: 8px;
    border-width: 4px;
    border-color: Gold;
    border-style: outset;
    padding: 4px 4px;
}

[type="radio"] {
    accent-color: Gold;
}

body {
    background-image: linear-gradient(to right, DarkGreen 0%, DarkGreen 50%, Black 100%);
}

p {
    color: PaleGreen;
    margin: 0px;
}
div.selfield {
    border-width: 8px;
    border-style: solid;
    border-color: Gold;
    border-radius: 16px;
    width: 300px;
    padding: 16px;
}
div.separator {
    width: 300px;
    height: 16px;
    border-width: 0px 8px;
    border-style: hidden;
    padding: 0px 16px;
    background-image: linear-gradient(to right,
                            transparent 0%,
                            transparent calc(50% - 5px),
                            Gold  calc(50% - 4px),
                            Gold calc(50% + 4px),
                            transparent calc(50% + 5px),
                            transparent 100%);
} 
